*.class
*.log
.lib
.classpath
.settings

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.cache
# OS X specific
.DS_Store

# Ensime crap
.ensime*

# Sublime Text Project Files
*.sublime-project
*.sublime-workspace
