body {
  font-family: Helvetica, sans-serif;
}

#CategoriesTable, #ModulesTable {
  width: 100%;
}

.ContainedTable {
  width: 100;
}

table {
  cellspacing: 0;
  padding: 1;
}

#ContainerTable {
  width: 100%;
  text-align: center;
}

.TableInputField, .TableHeader {
  width: 33.3%;
}

th, td {
  width: 33.3%;
  border-style: solid;
}

#EctsTargetInputTable {
  width: 50%;
}

.Button {
  width: 768;
  background-color: yellow;
}

